{% extends '::base.html.twig' %}
{% block body %}
    <h1>Creer une page</h1>
    <div id="resultat"></div>
    <form action="" method="post" id="formEvent">
        {{form_label(formEvent.nom)}}<br>
        {{form_widget(formEvent.nom)}}<br>
        {{form_label(formEvent.date)}}<br>
        {{form_widget(formEvent.date)}}<br>
        {{form_label(formEvent.description)}}<br>
        {{form_widget(formEvent.description)}}<br>
        {{form_label(formEvent.lieu)}}<br>
        {{form_widget(formEvent.lieu)}}<br>
        {{form_label(formEvent.public)}}<br>
        {{form_widget(formEvent.public)}}<br>
        {{form_label(formEvent.publicpass)}}<br>
        {{form_widget(formEvent.publicpass)}}<br>
        {{form_label(formEvent.adminpass1)}}<br>
        {{form_widget(formEvent.adminpass1)}}<br>
        {{form_label(formEvent.adminpass2)}}<br>
        {{form_widget(formEvent.adminpass2)}}<br>
        {{form_label(formEvent.facebook)}}<br>
        {{form_widget(formEvent.facebook)}}<br>
        {{form_label(formEvent.twitter)}}<br>
        {{form_widget(formEvent.twitter)}}<br>
        {{form_label(formEvent.documents)}}<br>
        {{form_widget(formEvent.documents)}}<br>
        
        {{form_rest(formEvent)}}
        <input type="submit" value="Envoyer">
    </form>
    
<script>
    
    
    
    $('#formEvent').submit(function()
    {
        $.ajax({
                type: "POST",
                dataType: "json",
                url: Routing.generate("ephemit_evenement_creer"),
                data:$('#formEvent').serialize(),
                success: function(data)
                {
                    $('#formEvent').slideUp();
                    $('#resultat').html('Votre evenement a bien ete depose! Vous allez etre redirige');
                    $('#resultat').slideDown();
                    setTimeout(function(){ window.location = Routing.generate("ephemit_site_homepage"); }, 3000);
                }
        });
        return false;
    });
    
$(document).ready(function() {
  // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
  var $container = $('#ephemit_evenement_creer_documents');

  // On ajoute un lien pour ajouter une nouvelle catégorie
  var $lienAjout = $('<a href="#" id="ajout_categorie" class="btn">Ajouter un document</a>');
  $container.append($lienAjout);
  
  // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
  var index = $container.find(':input').length;

  // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
  $lienAjout.click(function(e) {
    ajouterCategorie($container);
    $('.fileupload').uploadify(
    {
        swf: "{{ asset('bundles/ephemitsite/js/uploadify.swf') }}",
        uploader: "{{ oneup_uploader_endpoint('gallery') }}",
        buttonText: 'Choisir',
        cancelImg : '{{ asset('bundles/ephemitsite/images/uploadify-cancel.png') }}',
        multi : false,
        onUploadComplete : function(file,data){
            var count = index - 1;
            $('#ephemit_evenement_creer_documents_'+count+'_nom').val(file.size+file.type);
            $('#ephemit_evenement_creer_documents_'+count+'_nomOriginal').val(file.name);
        }
    });
    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
    return false;
  });

  // On ajoute un premier champ directement s'il n'en existe pas déjà un (cas d'un nouvel article par exemple).
  if (index == 0) {
    ajouterCategorie($container);
  } else {
    // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
    $container.children('div').each(function() {
      ajouterLienSuppression($(this));
    });
  }

  // La fonction qui ajoute un formulaire Categorie
  function ajouterCategorie($container) {
    // Dans le contenu de l'attribut « data-prototype », on remplace :
    // - le texte "__name__label__" qu'il contient par le label du champ
    // - le texte "__name__" qu'il contient par le numéro du champ
    var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Document n°' + (index+1))
                                                        .replace(/__name__/g, index));

    // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
    ajouterLienSuppression($prototype);

    // On ajoute le prototype modifié à la fin de la balise <div>
    $container.append($prototype);

    // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
    index++;
  }

  // La fonction qui ajoute un lien de suppression d'une catégorie
  function ajouterLienSuppression($prototype) {
    // Création du lien
    $lienSuppression = $('<a href="#" class="btn btn-danger">Supprimer</a>');

    // Ajout du lien
    $prototype.append($lienSuppression);

    // Ajout du listener sur le clic du lien
    $lienSuppression.click(function(e) {
      $prototype.remove();
      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });
  }
  
   $('.fileupload').uploadify(
    {
        swf: "{{ asset('bundles/ephemitsite/js/uploadify.swf') }}",
        uploader: "{{ oneup_uploader_endpoint('gallery') }}",
        buttonText: 'CHOISIR',
        cancelImg : '{{ asset('bundles/ephemitsite/images/uploadify-cancel.png') }}',
        multi : false,
        onUploadSuccess : function(file, data, response){
            var count = index - 1;
            $('#ephemit_evenement_creer_documents_'+count+'_nom').val(file.size+file.type);
            $('#ephemit_evenement_creer_documents_'+count+'_nomOriginal').val(file.name);
        }
    });
});
</script>
{% endblock %}