{% extends '::base.html.twig' %}
{% block body %}
{% if is_granted("IS_AUTHENTICATED_FULLY") %}
    <p>Bienvenue, {{ app.user.username }}</p>
    <a href="{{path('ephemit_evenement_creer')}}">Cr&eacute;er un &eacute;v&egrave;nement</a><br>
    <a href="{{path('fos_user_security_logout')}}">Disconnect</a>
{% else %}
    <a href="{{path('fos_user_registration_register')}}">Register</a><br>
    <a href="{{path('fos_user_security_login')}}">Connect</a><br>
{% endif %}

{% endblock %}